/* ===========================
   Base styles
   =========================== */

/* Глобальные сбросы */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML и Body */
html,
body {
    height: 100%;
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 1.6;
    background-color: $content-bg;
    color: $body-color;
}

/* Типографика */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: .5rem;
}

p {
    margin-bottom: 1rem;
}

/* Ссылки */
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Изображения */
img {
    max-width: 100%;
    height: auto;
    display: block;
}