// ========================================
// Brand
// ========================================

$app-primary: #7B2CF5;
$app-primary-dark: #5A00FF;

// ========================================
// Backgrounds
// ========================================

$content-bg: #F5F7FB;

// ========================================
// Sidebar
// ========================================

$sidebar-width: 260px;
$sidebar-bg: #1F2937;
$sidebar-color: #F8FAFC;

// ========================================
// Header
// ========================================

$header-height: 60px;
$header-bg: #FFFFFF;

// ========================================
// Components
// ========================================

$card-radius: .75rem;

// ========================================
// Animation
// ========================================

$transition-duration: .2s;

// ========================================
// Fonts
// ========================================
$font-family-base: 'Inter', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
